@import url(http://fonts.googleapis.com/css?family=Dosis:200);

@font-face {
	font-family: 'Dosis';
	 src: url('http://fonts.googleapis.com/css?family=Dosis:200');
}

html{
    background: url(../images/zigzag_bg.jpg) no-repeat center center fixed;
    webkit-background-size: cover;
    moz-background-size: cover;
    o-background-size: cover;
    background-size: cover;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/zigzag_bg.jpg',     sizingMethod='scale');
    -ms-filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/zigzag_bg.jpg', sizingMethod='scale');
    font-family: 'Dosis', calibri, sans-serif;
}	
body {
	font-family: 'Dosis', calibri, sans-serif;
	font-weight: 400;
	font-style: normal;
}

h1 {
	font-size:24px;
	font-family: 'Dosis', calibri, sans-serif;
}
h2 {
	font-size:20px;
	font-family: 'Dosis', calibri, sans-serif;
}
h3 {
	font-size:18px;
	font-family: 'Dosis', calibri, sans-serif;
}
h4 {
	font-size:17px;
	font-family: 'Dosis', calibri, sans-serif;
}
p {
	font-size:16px;
	font-weight:300;
}

table tr td {
	font-size:16px;
	font-weight:300;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
}

li {
	font-size:16px;
	font-weight:300;
	list-style-type: none;
}

.note {
	font-size:12px;
	font-weight:300;
}

.nav .container {
	/* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.85);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	margin-top: 40px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}
.nav li {
  display: inline;
  padding-left:10px;
  padding-right:10px;
  font-size:20px;
  list-style-type: none;

}
.link{
	text-decoration: none;
	color: #000;
}
.nav a {
	text-decoration: none;
	color: #000;
}

.nav a:hover {
	text-decoration: none;
	color: #000;
}
.main .container {
	//* Fallback for web browsers that doesn't support RGBa */
    background: rgb(255, 255, 255) transparent;
    /* RGBa with 0.6 opacity */
    background: rgba(255, 255, 255, 0.85);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    /* For IE 8*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	margin-bottom:40px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	
}
